<HTML>
<BODY>
<H1>たし算ドリル</H1>

<P>次のたし算を計算しなさい。制限時間は3分です。</P>

<% 10.times do |i| %>
<% a = rand(10) %>
<% b = rand(10) %>
(第<%= i + 1 %>問) <%= a %> + <%= b %> = <%= a + b %><BR />
<% end %>

</BODY>
</HTML>
