<html lang="ja-JP">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title><%= @title %></title>
<link rel="stylesheet" href="stylesheets/nobunaga.css" type="text/css" media="all">
</head>

<body>
<div class="main">

<h1><%= @title %></h1>

<div class="header-menus">
<a href="index.html">Latest</a>
<a href="archives.html">Archive</a>
<a href="about.html">About</a>
</div>

<%= @content %>

<div class="footer">ERBBlog version 1.0.0</div>
</div>
</body>
</html>
